{% extends "./_base_ona.html" %}
{% load static %}
{% block content %}
<div class="flex h-screen items-center justify-center">
  <div class="w-full max-w-xl p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-10 mt-5 text-xl font-semibold text-center text-gray-900 dark:text-white">Formulário de Identificação</h5>
    <form method="POST">
      {% csrf_token %}

      <div class="my-5">
        <label for="id_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
        {{ form.name }}
      </div>

      <div class="my-5">
        <label for="id_hospital_sector" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Setor Avaliado:</label>
        {{ form.hospital_sector }}
      </div>

      <div class="my-5">
        <label for="id_job_role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cargo:</label>
        {{ form.job_role }}
      </div>

      <div class="my-5">
        <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
       
        {{ form.email }}
      </div>

      <div class="mt-10">
        <button type="submit" class="w-full inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
          Começar Avaliação
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
