{%extends "./_base_ona.html"%}
{%load static%}
{% block content %}
<div class="flex h-screen  items-center justify-center ">



  <div
    class="w-full max-w-xl p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-10 mt-5 text-xl font-semibold text-center text-gray-900 dark:text-white">Formulário de Identificação</h5>
    <form method="POST"''>
      {% csrf_token %}

      <div class="my-5">
        <label for="evaluator-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
        <input type="text" name="evaluator-name" id="evaluator-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 
         dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
         placeholder="Nome"
         >
      </div>

      <div class="my-5">
        <label for="hospital-sector" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Setor Avaliado:</label>
        <select name="hospital-sector" id="hospital-sector"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

          {%for value, label in form.hospital_sector.field.choices%}
            <option value="{{ value }}" {% if value == form.hospital_sector.value %} selected {% endif %}>
              {{label}}
            </option>
          {%endfor%}
        </select>
      </div>

      <div class="my-5">
        <label for="job-role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Cargo:</label>
        <select name="job-role" id="job-role"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          
          {%for value, label in form.job_role.field.choices%}
            <option value="{{ value }}" {% if value == form.job_role.value %} selected {% endif %}>
              {{label}}
            </option>
          {%endfor%}
        </select>
      </div>
      <div class="my-5">
      <label for="email-address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
        <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
        <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
      </svg>
    </div>
    <input name="email-address" type="text" id="email-address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="nome@email.com">
  </div>
 </div>
  <div class="mt-10">
    <button type="submit" class="w-full inline-flex justify-center items-center py-3
         px-5 text-base font-medium text-center text-white rounded-lg 
         bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            Começar Avaliação
           
      </button>
      
  </div>
      

      <!-- <div class="my-5">
        <label for="job-role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecione o
          seu cargo</label>
        <select name="job-role" id="job-role"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

          {%for value, label in form.job_role.choices%}
            <option value="{{ value }}" {% if value == form.job_role.value %} selected {% endif %}>
              {{label}}
            </option>
          {%endfor%}
        </select> 
      </div>-->
      <!-- <div class="my-5">
        <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome do
          Avaliador</label>
          {%for job_role_option in form.job_role.choices%}
          <option>{{sector_option}}</option>
          {%endfor%}
        <input type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 
         dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

      </div>
      <div class="mt-10">
        <button type="submit" class="inline-flex justify-center items-center py-3
             px-5 text-base font-medium text-center text-white rounded-lg 
             bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Começar Avaliação
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
          </button>
          
      </div> -->



    </form>
  </div>


</div>


{% endblock content %}