{% extends "./_base_ona.html" %}
{% load static %}
{% block content %}


<div class="flex  my-32 items-center justify-center">
    <div
        class="w-1/2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-10 mt-5 text-xl font-semibold text-center text-gray-900 dark:text-white">Formulário ONA</h5>
        <form method="POST">
            {% csrf_token %}
            {% for section in ona_form.ONA_sections.all %}
            <section id="{{section.section_title}}" class="hidden section">

                <h5 class="mb-10 mt-5 text-lg font-semibold text-center text-gray-900 dark:text-white">
                    {{section.section_title}}</h5>
                {% for subsection in section.form_subsections.all %}
                <section id="{{subsection.subsection_title}}" class="hidden subsection">
                    <h5 class="mb-10 mt-5 text-lg font-semibold text-center text-gray-900 dark:text-white">
                        {{subsection.subsection_title}}</h5>
                    <section id="L1-subsection-{{forloop.counter}}-questions-level-1" class="question-level-1">
                    </section>
                    {% for question in subsection.questions_level1.all %}
                    <h5 class="mt-5 flex  font-semibold text-center text-gray-900 dark:text-white">
                        ID: {{question.question_id}}</h5>
                    <div class="flex flex-col">
                        <h5 class=" mt-5 flex   text-gray-900 dark:text-white">
                         <strong class="px-1">Requisito:  </strong>   {{question.description}}</h5>
                        <h5 class=" mt-5 flex text-gray-900 dark:text-white">
                            <strong class="px-1">Descrição:  </strong>    {{question.guidance}}</h5>
                        <h5 class="mb-10 mt-5 flex text-gray-900 dark:text-white">
                            <strong class="px-1 text-center"> Evidencia: </strong> {{question.evidence}}</h5>
                    </div>
                    {% include "partials/forms/_ratio_input.html" with awnser_id=question.question_id %}
                    {% endfor %}

                    {% if ona_form.hospital.level == 2 %}
                    <section id="L2-subsection-{{forloop.counter}}-questions-level-2" class="questions-level-2">
                        {% for question in subsection.questions_level2.all %}
                        <h5 class="mt-5 flex  font-semibold text-center text-gray-900 dark:text-white">
                        ID: {{question.question_id}}</h5>
                    <div class="flex flex-col">
                        <h5 class=" mt-5 flex   text-gray-900 dark:text-white">
                         <strong class="px-1">Requisito:  </strong>   {{question.description}}</h5>
                        <h5 class=" mt-5 flex text-gray-900 dark:text-white">
                            <strong class="px-1">Descrição:  </strong>    {{question.guidance}}</h5>
                        <h5 class="mb-10 mt-5 flex text-gray-900 dark:text-white">
                            <strong class="px-1 text-center"> Evidencia: </strong> {{question.evidence}}</h5>
                    </div>
                    {% include "partials/forms/_ratio_input.html" with awnser_id=question.question_id %}
                        {% endfor %}

                    </section>
                    {% elif ona_form.hospital.level == 3 %}
                    <section id="L3-subsection-{{forloop.counter}}-questions-level-3" class="question-level-3">
                        {% for question in section.questions_level3.all %}
                        <h5 class="mt-5 flex  font-semibold text-center text-gray-900 dark:text-white">
                        ID: {{question.question_id}}</h5>
                    <div class="flex flex-col">
                        <h5 class=" mt-5 flex   text-gray-900 dark:text-white">
                         <strong class="px-1">Requisito:  </strong>   {{question.description}}</h5>
                        <h5 class=" mt-5 flex text-gray-900 dark:text-white">
                            <strong class="px-1">Descrição:  </strong>    {{question.guidance}}</h5>
                        <h5 class="mb-10 mt-5 flex text-gray-900 dark:text-white">
                            <strong class="px-1 text-center"> Evidencia: </strong> {{question.evidence}}</h5>
                    </div>
                    {% include "partials/forms/_ratio_input.html" with awnser_id=question.question_id %}
                        {% endfor %}
                    </section>


                    {% endif %}

                    <div id="section-buttons" class="flex justify-center mt-10 iteems-center visible">
                        <button id="previous-button" type="button" class="w-full  focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                            onclick="showPrevious('{{section.section_title}}', '{{subsection.subsection_title}}')">
                            Subseção Anterior
                        </button>
                        <button id="next-button" type="button" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
                        focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600
                         dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                            onclick="showNext('{{section.section_title}}', '{{subsection.subsection_title}}')">
                            Próxima Subseção
                        </button>
                    </div>
                    
                    <div>

                    </div>
                </section>

               

                {% endfor %}
            </section>


            {% endfor %}
            <div id="submit-buttons"  class="flex justify-center mt-10 iteems-center hidden ">
                <button id="previous-button" type="button" class="w-full  focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                    onclick="hideSubmitButton()">
                    Subseção Anterior
                </button>
                <button id="next-button" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
                focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600
                 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Enviar Formulário 
                </button>
            </div>
            <div id="errorMessages" style="color: red;"></div>
        </form>
    </div>
</div>
{{ ona_json|json_script:"ona_json" }}
<script>
    const onaJsonForm = JSON.parse(document.getElementById('ona_json').textContent);

    const showFirstSection = () => {
        let firstSection = onaJsonForm['ONA_sections'][0]['section_title']
        firstSection = document.getElementById(firstSection)
        firstSection.classList.remove('hidden');
        firstSection.classList.add('visible');
    }

    const showFirstSubsection = () => {
        let firstSubSection = onaJsonForm['ONA_sections'][0]['form_subsections'][0]['subsection_title']
        firstSubSection = document.getElementById(firstSubSection)
        firstSubSection.classList.remove('hidden');
        firstSubSection.classList.add('visible');
    }
    const hideSubmitButton = () => {
        let submitButtons = document.getElementById('submit-buttons')
        let queryAllList = document.querySelectorAll('[class*="subsection"]')
        let index = queryAllList.length -1

        console.log(index)
        console.log(submitButtons)
        queryAllList[index].classList.remove('hidden');
        queryAllList[index].classList.add('visible');
       
        submitButtons.classList.remove('visible');
        submitButtons.classList.add('hidden');
        
    }

    const showSubmitButton = (currentIndex, queryAllList) => {
        console.log('showSubmitButton')
        let submitButtons = document.getElementById('submit-buttons')
       
        queryAllList[currentIndex].classList.remove('visible');
        queryAllList[currentIndex].classList.add('hidden');
        


        submitButtons.classList.remove('hidden');
        submitButtons.classList.add('visible');
    }


    showFirstSection()
    showFirstSubsection()


    const returnIndexes = (queryAllList, target) => {
        let currentIndex = Array.from(queryAllList).findIndex(
            (subSectionElement) => subSectionElement.id === target
        )
        
        let nextIndex = currentIndex + 1

        if (nextIndex >= queryAllList.length) {
            nextIndex = null;
        }

        let previousIndex = currentIndex - 1

        if (previousIndex < 0) {
            previousIndex = null;
        }
        console.log({ currentIndex, nextIndex, previousIndex })
        return { currentIndex, nextIndex, previousIndex }
    }

    const checkVisiblity = (mainIndex, auxiliarIndex, queryAllList) => {

        if (queryAllList[mainIndex].classList.contains('visible')) {
            queryAllList[mainIndex].classList.remove('visible');
            queryAllList[mainIndex].classList.add('hidden');
        }

        if (auxiliarIndex !== null) {
            queryAllList[auxiliarIndex].classList.remove('hidden');
            queryAllList[auxiliarIndex].classList.add('visible');
        } 
    }

    

    const showNextSubsection = (subSection) => {
        let subsectionsList = document.querySelectorAll('[class*="subsection"]')
        let { currentIndex, nextIndex, _ } = returnIndexes(subsectionsList, subSection)
        if (nextIndex !== null) {

            checkVisiblity(currentIndex, nextIndex, subsectionsList)
            // window.scrollTo({ top: 0, behavior: 'smooth' });
           
        } else (
            showSubmitButton(currentIndex, subsectionsList)
        )
     
    }

    const showNextSection = (section) => {
        let sectionList = document.querySelectorAll('[class*="section"]')
        let { currentIndex, nextIndex, _ } = returnIndexes(sectionList, section)
        showPreviousButton(currentIndex)
        checkVisiblity(currentIndex, nextIndex, sectionList)
    }
    

    const showPreviousSubsection = (subSection) => {
        let subsectionsList = document.querySelectorAll('[class*="subsection"]')
        let { currentIndex, nextIndex, previousIndex } = returnIndexes(subsectionsList, subSection)
        console.log({currentIndex, nextIndex, previousIndex})
        
        if (previousIndex !== null) {

            checkVisiblity(currentIndex, previousIndex, subsectionsList)
            window.scrollTo({ top: 0, behavior: 'smooth' });
        } 
       
    
    }
    
    const showPreviousSection = (section) => {
        let sectionList = document.querySelectorAll('[class*="section"]')
        let { currentIndex, _, previousIndex } = returnIndexes(sectionList, section)
        
    }

    const showNext = (sectionHTMLElement, subSectionHTMLElement) => {
        let section = document.getElementById(sectionHTMLElement).id
        let subSection = document.getElementById(subSectionHTMLElement).id
        showNextSubsection(subSection)
        // showNextSection(section)
    }

    const showPrevious = (sectionHTMLElement, subSectionHTMLElement) => {
        let section = document.getElementById(sectionHTMLElement).id
        let subSection = document.getElementById(subSectionHTMLElement).id
        showPreviousSubsection(subSection)
        // showPreviousSection(section)
    }


       



    
</script>

<!-- <script src="{% static '/js/ONAForm.js' %}"></script> -->

{% endblock content %}