{%extends "./_base_ona.html"%}
{%load static%}
{% block content %}
<div class="flex h-screen  items-center justify-center ">



  <div
    class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5></h5>
    <form method="POST">
      <div class="my-5">
        <label for="hospital-sector" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecione o
          setor do Hospital</label>
        <select id="hospital-sector"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

          <option>Setor X</option>
          <option>Setor Y</option>
          <option>Setor Z</option>

        </select>
      </div>
      <div class="my-5">
        <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome do
          Avaliador</label>
        <input type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 
         dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

      </div>
      <div class="mt-10">
        <button type="submit" class="inline-flex justify-center items-center py-3
             px-5 text-base font-medium text-center text-white rounded-lg 
             bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Começar Avaliação
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
          </button>
          
      </div>



    </form>
  </div>


</div>


{% endblock content %}